<div class="blog">
  <div class="container">
    <div class="blog-title">
      Блог
    </div>
    <div class="blog-head">
      <div class="blog-applied-filters">
        <div class="blog-applied-filter" *ngFor="let appliedFilter of appliedFilters">
          <span>{{ appliedFilter.name }}</span>
          <a (click)="removeAppliedFilter(appliedFilter)">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_24599_627)">
                <line x1="1.93553" y1="2.65002" x2="13.9563" y2="14.6708" stroke="#709FDC" stroke-linecap="round"/>
                <line x1="13.9236" y1="2.62984" x2="1.90278" y2="14.6507" stroke="#709FDC" stroke-linecap="round"/>
              </g>
              <defs>
                <clipPath id="clip0_24599_627">
                  <rect width="16" height="16" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </a>
        </div>
      </div>
      <div class="blog-sorting"
           [class.open]="sortingOpen"
           (click)="toggleSorting(); $event.stopPropagation()">
        <div class="blog-sorting-head">
          <span>Фильтр</span>
          <a>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M10.0003 14C9.41693 14 8.83359 13.775 8.39193 13.3334L2.95859 7.90003C2.71693 7.65837 2.71693 7.25837 2.95859 7.0167C3.20026 6.77503 3.60026 6.77503 3.84193 7.0167L9.27526 12.45C9.67526 12.85 10.3253 12.85 10.7253 12.45L16.1586 7.0167C16.4003 6.77503 16.8003 6.77503 17.0419 7.0167C17.2836 7.25837 17.2836 7.65837 17.0419 7.90003L11.6086 13.3334C11.1669 13.775 10.5836 14 10.0003 14Z"
                fill="#2C2C2C"/>
            </svg>
          </a>
        </div>
        <div class="blog-sorting-body">
          <div class="blog-sorting-item"
               [class.active]="activeParams.sort.includes(sortingOpen.url)"
               (click)="sort(sortingOpen)"
               *ngFor="let sortingOpen of sortingOpens">
            {{ sortingOpen.name }}
            <svg *ngIf="!activeParams.sort.includes(sortingOpen.url)"
                 width="11"
                 height="11"
                 viewBox="0 0 11 11"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
              <path
                d="M10.4399 4.39198H5.97595V-2.47955e-05H4.46395V4.39198H-5.37038e-05V5.80798H4.46395V10.176H5.97595V5.80798H10.4399V4.39198Z"
                fill="#BEBEBE"/>
            </svg>
            <svg *ngIf="activeParams.sort.includes(sortingOpen.url)"
                 width="11"
                 height="11"
                 viewBox="0 0 11 11"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
              <rect x="0" y="4.4" width="11" height="1.4" fill="#071739"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="posts">
  <div class="container">
    <post-blog [posts]="posts"></post-blog>
  </div>
</div>

<div class="pagination" *ngIf="pages.length > 1">
  <div class="pagination-arrow"
       [class.disabled]="activeParams.page === 1"
       (click)="activeParams.page > 1 && openPrevPage()">
    <img *ngIf="activeParams.page === 1"
         src="assets/images/icons/previous.png" alt="">
    <img *ngIf="activeParams.page > 1"
      src="assets/images/icons/previous-active.png" alt="">
  </div>
  <div class="pagination-pages">
    <a class="pagination-page" (click)="openPage(page)"
       [class.active]="this.activeParams.page ? this.activeParams.page === page : (page === 1)"
       *ngFor="let page of pages">{{ page }}</a>
  </div>
  <div class="pagination-arrow"
       [class.disabled]="activeParams.page === pages.length"
       (click)="activeParams.page < pages.length && openNextPage()">
    <img *ngIf="activeParams.page === pages.length"
      src="assets/images/icons/next.png" alt="">
    <img *ngIf="activeParams.page < pages.length"
      src="assets/images/icons/next-active.png" alt="">
  </div>
</div>

