@import '../../../../../src/assets/styles/_variables';
@import '../../../../../src/assets/styles/mixins';

.blog {
  //padding-top: 60px;

  .container {
    .blog-title {
      @include head-lora-36;
      font-size: 38px;
      margin-top: 80px;
      margin-bottom: 40px;
    }

    .blog-head {
      display: flex;
      justify-content: space-between;
      align-items: baseline;


      .blog-applied-filters {
        display: flex;
        flex-wrap: wrap;

        .blog-applied-filter {
          border-radius: 5px;
          border: $border-color-input;
          font-size: 16px;
          color: $two-base-text-color;
          padding: 8px 20px;
          display: flex;
          align-items: center;
          margin-right: 15px;
          margin-bottom: 15px;

          a {
            cursor: pointer;
            display: flex;
            text-decoration: none;
            margin-left: 8px;
          }
        }
      }

      .blog-sorting {
        width: 148px;
        border-radius: 5px;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;
        font-size: 16px;

        .blog-sorting-head {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          padding: 12px 0 12px 23px;
          color: $base-text-color;

          span {
            margin-right: 8px;
          }
        }

        .blog-sorting-body {
          position: absolute;
          width: 100%;
          box-sizing: border-box;
          z-index: 3;
          display: none;
          padding: 12px 23px;
          border-radius: 0 0 5px 5px;
          background: white;
          color: $text-color-catalog-sorting-body;

          .blog-sorting-item {
            display: flex;
            margin-bottom: 14px;
            cursor: pointer;
            align-items: center;
            justify-content: space-between;

            .icon {
              transition: transform .3s;
            }

            &:last-child {
              margin-bottom: 0;
            }

            &.active {
              color: $base-text-color;
            }
          }
        }

        &.open {
          width: 257px;
          min-width: 257px;

          .blog-sorting-head {
            background: $base-bg-color;
            border-radius: 5px 5px 0 0;
            padding-right: 23px;
          }

          .blog-sorting-body {
            display: block;
            box-shadow: 0 2px 16px rgba(7, 23, 57, 0.08);
            background-color: white;

            .blog-sorting-item {

            }
          }
        }
      }
    }
  }
}

.posts {
  .container {
    margin-bottom: 60px;
    margin-top: 40px;
    .stories-posts {

    }
  }
}

.pagination {
  margin-bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  .pagination-arrow {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &.disabled {
      pointer-events: none;
      cursor: default;
    }
  }

  .pagination-pages {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    align-items: center;

    a.pagination-page {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      width: 28px;
      height: 46px;
      padding: 10px;
      column-gap: 15px;
      cursor: pointer;
      font-size: 20px;
      color: $base-text-color;
      text-align: center;

      &.active {
        color: $two-base-text-color;
      }

      &:last-child {
      gap: 0;
      }
    }
  }
}

