@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";

.order-popup {
  border-radius: 10px;
  overflow: hidden;
  border: $border-color-input;
  box-sizing: border-box;
  max-width: 727px;
  position: relative;
  padding: 95px 153px 94px 152px;
  .order-popup-close {
    cursor: pointer;
    svg {
      position: absolute;
      top: 30px;
      right: 30px;
    }
  }
  .order-popup-title {
    @include head-lora-36;
    line-height: 130%;
    text-align: center;
    font-size: 38px;
    margin-bottom: 20px;
  }
  .auth-inputs {
    width: 422px;
    .auth-input {
      input, select {
        width: 100%;
        margin-bottom: 5px;
        color: $two-base-text-color;
      }
    }
    .button {
      width: 100%;
      margin-top: 15px;
    }
  }
}
