<div class="success-popup">

  <div class="success-popup-close" (click)="closePopup()">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="1.93562" y1="2.6499" x2="13.9564" y2="14.6707" stroke="#BEBEBE" stroke-linecap="round"/>
      <line x1="13.9236" y1="2.62971" x2="1.90277" y2="14.6505" stroke="#BEBEBE" stroke-linecap="round"/>
    </svg>
  </div>

  <div class="success-popup-title">
    Спасибо за вашу заявку!
  </div>

  <div class="success-popup-text">
    Мы свяжемся с вами при первой же возможности.
  </div>

  <button class="button" (click)="closePopup()">Окей</button>

</div>
