<section class="login" [formGroup]="loginForm">
  <div class="container">
    <div class="auth-form">
      <div class="auth-title">
        Войти в личный кабинет
      </div>
      <div class="auth-inputs">
        <div class="auth-input">
          <input type="text" class="input"
                 [appInputError]="loginForm.get('email')"
                 placeholder="Электронная почта"
                 formControlName="email"
                 (focus)="activeField = 'email'"
                 (blur)="activeField = null">
          <div
            class="field-hint"
            *ngIf="activeField === 'email' && loginForm.get('email')?.invalid">
            {{ getError('email') }}
          </div>
        </div>
        <div class="auth-input">
          <input type="password" class="input"
                 [appInputError]="loginForm.get('password')"
                 placeholder="Пароль"
                 formControlName="password"
                 (focus)="activeField = 'password'"
                 (blur)="activeField = null">
          <div
            class="field-hint"
            *ngIf="activeField === 'password' && loginForm.get('password')?.invalid">
            {{ getError('password') }}
          </div>
        </div>
        <div class="auth-checkbox">
          <input type="checkbox" id="remember" formControlName="rememberMe">
          <label for="remember">Запомнить меня</label>
        </div>
      </div>
      <div class="auth-button">
        <button class="button" [disabled]="loginForm.invalid" (click)="login()">Войти</button>
      </div>
      <div class="auth-link">
        Нет аккаунта?
        <a routerLink="/signup">
          Зарегистрируйтесь
        </a>
      </div>
    </div>
    <div class="page-images">
      <img src="../../../../assets/images/page/login/login.png" alt="flower">
    </div>
  </div>
</section>
