@import "../variables";
@import "../mixins";

.auth-form {
  margin-top: 120px;
  margin-bottom: 120px;

  .auth-title {
    @include head-lora-36;
    margin-bottom: 40px;
  }

  .auth-inputs {
    margin-bottom: 40px;

    .auth-input {
      margin-bottom: 5px;

      input {
        width: 422px;
      }

      &:nth-last-child(2) {
        margin-bottom: 10px;
      }

    }

    .auth-checkbox {
      max-width: 422px;
      display: flex;
      align-items: baseline;
      position: relative;

      input {
        margin: 0;
      }

      label {
        font-size: 14px;
        line-height: 130%;
        margin-left: 10px;

        a {
          text-decoration: none;
          color: $two-base-text-color;
        }
      }
    }
  }

  .auth-button {


    button.button {
      width: 422px;
    }
  }

  .auth-link {
    margin-top: 10px;
    font-size: 14px;
    color: $base-text-color;

    a {
      text-decoration: none;
      margin-left: 10px;
      color: $two-base-text-color;
    }
  }
}
