<section class="signup" [formGroup]="signupForm" PasswordRepeat>
  <div class="container">
    <div class="auth-form">
      <div class="auth-title">
        Регистрация на сайте
      </div>
      <div class="auth-inputs">
        <div class="auth-input">
          <input type="text" class="input"
                 placeholder="Ваше имя"
                 formControlName="name"
                 [appInputError]="signupForm.get('name')"
                 (focus)="activeField = 'name'"
                 (blur)="activeField = null">
          <div
            class="field-hint"
            *ngIf="activeField === 'name' && signupForm.get('name')?.invalid">
            {{ getError('name') }}
          </div>
        </div>
        <div class="auth-input">
          <input type="text" class="input"
                 placeholder="Электронная почта"
                 formControlName="email"
                 [appInputError]="signupForm.get('email')"
                 (focus)="activeField = 'email'"
                 (blur)="activeField = null">
          <div
            class="field-hint"
            *ngIf="activeField === 'email' && signupForm.get('email')?.invalid">
            {{ getError('email') }}
          </div>
        </div>
        <div class="auth-input">
          <input type="password" class="input"
                 placeholder="Пароль"
                 formControlName="password"
                 [appInputError]="signupForm.get('password')"
                 (focus)="activeField = 'password'"
                 (blur)="activeField = null">
          <div
            class="field-hint"
            *ngIf="activeField === 'password' && signupForm.get('password')?.invalid">
            {{ getError('password') }}
          </div>
        </div>
        <div class="auth-checkbox">
          <input type="checkbox" id="agree" formControlName="agree">
          <div class="field-hint checkbox" *ngIf="showAgreeHint">
            Остался последний шаг — подтвердите согласие с условиями соглашения
          </div>
          <label for="agree">
            Я принимаю <a href="assets/docs/policy.html#agreement" target="_blank">условия пользовательского
            соглашения</a>
            и даю <a href="assets/docs/policy.html#personal-data" target="_blank">согласие на обработку персональных
            данных.</a></label>
        </div>
      </div>
      <div class="auth-button">
        <button class="button" [disabled]="signupForm.invalid" (click)="signup()">Зарегистрироваться</button>
      </div>
      <div class="auth-link">
        Уже есть аккаунт?
        <a routerLink="/login">
          Войдите
        </a>
      </div>
    </div>
    <div class="page-images">
      <img src="../../../../assets/images/page/signup/signup.png" alt="flower">
    </div>
  </div>
</section>
