@import '../../../../../src/assets/styles/user/_auth-form';


.signup {
  margin-top: 10px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .page-images {
      img {
        width: 100%;
        vertical-align: bottom;
      }
    }
  }
}
