<div class="stories-posts">
  <div class="stories-posts-post" *ngFor="let post of posts">
    <div class="stories-posts-post-image" style="background-image: url({{serverStaticPath + post.image}})">
      <button class="button">{{ post.category }}</button>
    </div>
    <div class="stories-posts-post-title">
      {{ post.title }}
    </div>
    <div class="stories-posts-post-text">
      {{ post.description | truncate:32 }}
    </div>
    <a [routerLink]="['/articles', post.url]">Читать дальше</a>
  </div>
</div>
