$container-width: 1240px;

$border-color-input: 2px solid #709FDC;
$base-text-color: #071739;
$two-base-text-color: #709FDC;
$base-text-color-about: #1E1A2B;
$text-color-catalog-sorting-body: #BEBEBE;
$text-textarea-placeholder: #A8ABA7;
$base-bg-color: #B9D5FD;


